body{
  background-size: cover;
  background-image: url("/assets/stadium.png");
  background-repeat: no-repeat;
}

#root {
  width: 1280px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 3em;
  background: hsla(0, 0%, 100%, 0.7); 
  backdrop-filter: blur(10px);
}

.container {
  height: 10rem;
  background-color: #fffffff6;
  text-align: center;
  padding-top: 3%;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem .5rem #61555133;
}

.matchs {
  background-color: #ffffff80;
  padding-top: 2%;
  display: grid;
  box-shadow: 0 2rem 6rem .5rem #61555133;
}

li {
  list-style-type: none;
}

.ballImage {
  width: 50px;
}